{% load static %}
<footer id="contact" class="">
  <div class="footer-topbar">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 ">
                  <div class="widget">
                      <div class="textwidget">
                          <div class="row ">
                              <div class="col-lg-6 mb-5 mb-lg-0 text-center text-lg-left">
                                  <h2 class="text-white">Subscribe for Newsletter</h2>
                              </div>
                              <div class="col-lg-6 mb-5 mb-lg-0 text-center text-lg-right">
                                  <script>
                                      (function() {
                                          window.mc4wp = window.mc4wp || {
                                              listeners: [],
                                              forms: {
                                                  on: function(evt, cb) {
                                                      window.mc4wp.listeners.push({
                                                          event: evt,
                                                          callback: cb
                                                      });
                                                  }
                                              }
                                          }
                                      })();
                                  </script>
                                  <!-- Mailchimp for WordPress v4.7.5 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                                  <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-517" method="post" data-id="517" data-name="Form1">
                                      <div class="mc4wp-form-fields">
                                          <input type="email" name="EMAIL" placeholder="Your email address" required />

                                          <input type="submit" value="Subscribe" />
                                      </div>
                                      <label style="display: none !important;">Leave this field empty if you're human:
                                          <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" />
                                      </label>
                                      <input type="hidden" name="_mc4wp_timestamp" value="1583931466" />
                                      <input type="hidden" name="_mc4wp_form_id" value="517" />
                                      <input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                                      <div class="mc4wp-response"></div>
                                  </form>
                                  <!-- / Mailchimp for WordPress Plugin -->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>

  </div>
  <!-- Address -->
  <div class="footer-top">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6 ">
                  <div class="widget">
                      <div class="textwidget">
                          <p><img class="mb-4 size-full wp-image-976" src="{% static 'wp-content/uploads/2020/02/LOGO-1-1.png' %}" alt="qloud" width="100" />
                              <br /> It is a long established fact that a reader will be distracted by the readable content.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6 mt-4 mt-lg-0 mt-md-0 ">
                  <div class="widget">
                      <h4 class="footer-title">Menu</h4>
                      <div class="menu-footer-menu-container">
                          <ul id="menu-footer-menu" class="menu">
                              <li id="menu-item-1049" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-1049"><a href="index.html" aria-current="page">Home</a></li>
                              <li id="menu-item-1051" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1051"><a href="about-us-1/index.html">About Us</a></li>
                              <li id="menu-item-1053" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1053"><a href="service-1/index.html">Service</a></li>
                              <li id="menu-item-1050" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1050"><a href="blog/index.html">Blog</a></li>
                              <li id="menu-item-1052" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1052"><a href="contact-us-1/index.html">Contact Us</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6 mt-lg-0 mt-4">
                  <div class="widget">
                      <h4 class="footer-title ">About Us</h4>
                      <div class="menu-about-menu-container">
                          <ul id="menu-about-menu" class="menu">
                              <li id="menu-item-1059" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1059"><a href="about-us-2/index.html">About Us</a></li>
                              <li id="menu-item-1060" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1060"><a href="service-2/index.html">Service</a></li>
                              <li id="menu-item-1061" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1061"><a href="contact-us-3/index.html">Contact Us</a></li>
                              <li id="menu-item-1062" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1062"><a href="pricing-plan/index.html">Pricing Plan</a></li>
                              <li id="menu-item-1063" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1063"><a href="clients/index.html">Clients</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6 mt-lg-0 mt-4">
                  <div class="widget">
                      <h4 class="footer-title ">Useful links</h4>
                      <div class="menu-link-menu-container">
                          <ul id="menu-link-menu" class="menu">
                              <li id="menu-item-1058" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1058"><a href="our-team/index.html">Our Team</a></li>
                              <li id="menu-item-1055" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1055"><a href="pricing-plan/index.html">Pricing Plan</a></li>
                              <li id="menu-item-1056" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1056"><a href="faq/index.html">FAQ</a></li>
                              <li id="menu-item-1057" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1057"><a href="clients/index.html">Clients</a></li>
                              <li id="menu-item-1054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1054"><a href="contact-us-2/index.html">Contact Us</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 mt-lg-0 mt-4">
                  <div class="widget">
                      <h4 class="footer-title ">Contact Us</h4>
                      <div class="row">
                          <div class="col-sm-12">
                              <ul class="iq-contact">

                                  <li>
                                      <a><i class="fa fa-home"></i><span>1234 North Avenue Luke Lane, South Bend, IN 360001</span></a>
                                  </li>
                                  <li>

                                      <a href="https://iqonic.design/cdn-cgi/l/email-protection#780b0d0808170a0c381109161716111b0c101d151d0b561b1715"><i class="fa fa-envelope"></i><span><span class="__cf_email__" data-cfemail="aad9dfdadac5d8deeac3dbc4c5c4c3c9dec2cfc7cfd984c9c5c7">[email&#160;protected]</span></span></a>
                                  </li>
                                  <li>

                                      <a href="tel:+0123456789"><i class="fa fa-phone"></i><span >+0123456789</span></a>
                                  </li>

                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Address END -->
  <div class="copyright-footer">
      <div class="container">
          <div class="pt-3 pb-3">
              <div class="row justify-content-between">

                  <div class="col-lg-6 col-md-12 text-lg-left text-md-center text-center">
                      <div class="social-icone">
                          <ul>
                              <li class="d-inline"><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li class="d-inline"><a href="#"><i class="fa fa-instagram"></i></a></li>
                              <li class="d-inline"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-12 text-lg-right text-md-center text-center">
                      <span class="copyright">Copyright 2020 Qloud All Rights Reserved.</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>